/*
============
FONTS
============
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap");
/*
============
VARIABLES
============
*/
:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-primary: #c41463;
  --clr-secondary: #162a87;
  --clr-secondary-light: #1b2e89;
  --ff-primary: "Source Serif Pro", serif;
  --ff-secondary: monospace;
  --transition: ease all 0.5s;
}
/*
============
GLOBAL CSS
============
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
}

main {
  height: auto;
  width: 100%;
  background-image: url(images/banner-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-white);
}
button {
  border: none;
}
.cat-py {
  padding: 1.4rem 0rem;
}
a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
/* 
====== Global CSS ====== 
*/
section {
  width: 100%;
  padding: 2rem 1rem;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-secondary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 0;
}
.btn:hover {
  background: var(--clr-primary);
  color: var(--clr-white);
}
/*
============
NAVBAR START
============
*/
.container {
  margin-top: 1.5rem;
}
.logo img {
  width: 60%;
  height: auto;
}
.navbar-toggler {
  background: var(--clr-white);
}
.navbar-nav {
  text-align: center;
}
.nav-item {
  margin-top: 1rem;
}
.navbar-nav a {
  color: var(--clr-white);
  font-size: 1.1rem;
  text-transform: uppercase;
}
/*
============
NAVBAR END
============
*/

/*
============
HEADERR START
============
*/
header {
  margin-top: 2rem;
  text-align: center;
}
header h1 {
  text-transform: uppercase;
}
header p {
  margin: 1.25rem;
  font-size: 1rem;
  font-weight: 300;
}
.main-header-button {
  display: none;
}
.main-button {
  background: #0a47f6;
  padding: 15px 30px;
  border-radius: 30px;
}
.main-button:hover {
  background: var(--clr-white);
  color: var(--clr-black);
}
.category-1 {
  width: 100%;
  background-color: var(--clr-primary);
  text-align: center;
  margin-top: 1.5rem;
  transition: var(--transition);
}
.category-1:hover {
  background: var(--clr-secondary);
}
.category-2 {
  background: var(--clr-secondary);
  transition: var(--transition);
}
.category-2:hover {
  background: var(--clr-primary);
}
.category-3 {
  background: var(--clr-primary);
  transition: var(--transition);
  margin-bottom: 1rem;
}
.category-3:hover {
  background: var(--clr-secondary);
}
.c1-text {
  height: 5rem;
  width: 5rem;
  background: var(--clr-white);
  border-radius: 50%;
  color: var(--clr-black);
  margin: 0 auto;
}
.c1-text h1 {
  padding-top: 1.32rem;
}
.c1-heading h1 {
  margin-top: 1.3rem;
  margin-bottom: 0.9rem;
}
.c1-descip {
  font-size: 0.82rem;
}
/*
============
HEADER END
============
*/

/* 
====== WELCOME SECTION START ====== 
*/
section .wlc-img img {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}
.sect-2-h {
  margin-bottom: 1.625rem;
}
.sect-2-h h3 {
  line-height: 1.4;
}
.sect-2-h h3 span {
  font-weight: 700;
}
.sect-2-p {
  font-size: 0.94rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}
.sect-2-btn {
  margin-bottom: 1.5rem;
}
.btn-2 {
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.82rem 1.65rem;
  border-radius: 0rem;
}
/* 
====== WELCOME SECTION END ====== 
*/

/* 
====== PRODUCT SECTION START ====== 
*/
.product-section {
  background: var(--clr-secondary);
  color: var(--clr-white);
  text-transform: uppercase;
}
.sect-3-top h1 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.sect-3-top h1 span {
  font-size: 2rem;
  font-weight: 600;
}
.sect-3-top p img {
  max-width: 100%;
  height: auto;
}
.sect-3-top p span {
  padding-left: 1rem;
  font-size: 1.1rem;
}
.btn-product {
  margin-top: 1rem;
}
.btn-3 {
  background: #d0971c;
  color: var(--clr-black);
  padding: 0.82rem 1.65rem;
  font-size: 1.13rem;
}
.btn-3:hover {
  background: var(--clr-white);
  color: var(--clr-black);
}
.product-img {
  margin-top: 2.625rem;
}
.product-img img {
  max-width: 100%;
  margin-bottom: 2.5rem;
}
/* 
====== PRODUCT SECTION END ====== 
*/

/* 
====== CLASSES SECTION END ====== 
*/
.classes-section {
  width: 100%;
  background: url(images/classes-bg.png);
  height: auto;
}
.classes-section h1 {
  text-transform: uppercase;
  text-align: center;
}
.popular-text {
  margin-top: 4rem;
  color: var(--clr-secondary-light);
  font-size: 1.44rem;
}
.classes-text {
  margin-bottom: 4.5rem;
  font-weight: 600;
  font-size: 1.564rem;
  word-spacing: 3px;
}
.projects-section-2 img {
  width: 100%;
  display: block;
}
.pro-row {
  position: relative;
  transition: var(--transition);
}
.pro-row:hover .over-lay {
  display: block;
}
.over-lay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: rgba(16, 43, 161, 0.8);
}
.over-lay a {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  padding: 0.75rem;
  position: absolute;
  top: 44%;
  left: 32%;
}
.read-more-btn-2 {
  margin-top: 2.4rem;
  text-align: center;
  margin-bottom: 3rem;
}
.read-more-2-btn {
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.82rem 1.65rem;
  border-radius: 0rem;
}
.read-more-2-btn:hover {
  background: var(--clr-black);
}

/* 
====== CLASSES SECTION END ====== 
*/

/* 
====== SUCCESS SECTION START ====== 
*/
.success-section {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.success-section-container {
  width: 100%;
  height: auto;
  background: url(images/success-bg.png);
  background-repeat: no-repeat;
  color: var(--clr-white);
  text-align: center;
}
.succes-container {
  background: rgba(0, 0, 0, 0.2);
}
.success-section-container h1 {
  text-transform: uppercase;
  padding-top: 7.82rem;
  font-size: 2.125rem;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 1.5;
}
.success-section-container p {
  font-size: 0.875rem;
  padding: 0 1rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  line-height: 1.7;
}
.success-section-container button {
  margin-bottom: 7rem;
}
.success-section-container button a {
  background: #d0971c;
  padding: 0.82rem 1.65rem;
}
.success-section-container button a:hover {
  background: var(--clr-white);
  color: var(--clr-black);
}
/* 
====== SUCCESS SECTION END ====== 
*/

/* 
====== CONTACT SECTION START ====== 
*/
.contact-section {
  padding-left: 0;
}
.contact-section h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding-bottom: 5rem;
  font-size: 2rem;
}
.contact-section h1 span {
  color: #2e3192;
}
.maps {
  padding-bottom: 1rem;
}
.form {
  margin-left: 1rem;
}
form input {
  color: #666666;
  border: none;
  border-bottom: 2px solid #171717;
  width: 98%;
  padding: 0.625rem 0;
  font-size: 1.125rem;
  outline: none;
}
form textarea {
  width: 98%;
  color: #666666;
  border: none;
  border-bottom: 2px solid #171717;
  font-size: 1.125rem;
  padding: 0.625rem 0;
  outline: none;
  margin-bottom: 1.875rem;
}
.send-btn {
  padding: 0.625rem 2.2rem;
  font-size: 1.25rem;
}
.send-btn:hover {
  background: var(--clr-black);
}
.contact-list {
  padding-left: 0;
  list-style: none;
  margin-top: 2.5rem;
  margin-bottom: 3.125rem;
}
.contact-list li {
  margin-top: 1.32rem;
  font-size: 0.94rem;
}
.contact-list li span {
  padding-left: 0.5rem;
}
/* 
====== CONTACT SECTION END ====== 
*/

/* 
====== FOOTER SECTION START ====== 
*/
footer {
  padding: 2rem 1rem;
  background: var(--clr-black);
  color: var(--clr-white);
}
footer h2 {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1.5rem;
  padding-top: 1.125rem;
}
.footer-about {
  padding-top: 3.5rem;
}
.footer-about p {
  font-size: 0.94rem;
}
.social-icon ul {
  list-style: none;
  display: inline-flex;
  padding-left: 0;
}
.social-icon ul li {
  padding-right: 1.5rem;
  padding-top: 1rem;
}
.schedule {
  padding-bottom: 3.75rem;
}
.time-main span {
  padding-left: 3.75rem;
}
.time-main .mon {
  padding-left: 4.313rem;
}
.time-main .fri {
  padding-left: 5.125rem;
}
.time-main .sat {
  padding-left: 4.1rem;
}
.time-main .sun {
  padding-left: 4.688rem;
}
.copyright {
  width: 100%;
  color: var(--clr-white);
  background: var(--clr-secondary);
  padding: 1rem 0;
}
.copyright p {
  margin: 0;
  padding-top: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
}
/* 
====== FOOTER SECTION END ====== 
*/

/* 
====== Responsive Design ====== 
*/
@media (min-width: 576px) {
  section {
    padding: 2rem 5rem;
  }
  .main-header-button {
    display: inline-block;
  }
  .projects-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects-section-2 img {
    width: 90%;
    display: block;
  }
  .over-lay {
    width: 90%;
  }
  .over-lay a {
    top: 37%;
    left: 12%;
    font-size: 18px;
  }
  .contact-section {
    padding: 2rem 1rem;
    padding-left: 0;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .footer-about {
    padding-left: 3rem;
  }
  .footer-about p {
    font-size: 1rem;
  }
  .footer-address {
    padding-top: 3.5rem;
  }
  .schedule {
    padding-bottom: 3.75rem;
    min-width: 215%;
    text-align: center;
  }
  .time-main .sun {
    padding-left: 8.688rem;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  header p {
    margin-bottom: 4rem;
  }
  .main-header-button {
    margin-bottom: 2.5rem;
  }
  .section-2 {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
  }
  section .wlc-img img {
    width: 105%;
    margin-top: 0.5rem;
  }
  .sect-2-h h3 {
    font-size: 1.5rem;
  }
  .product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 5rem 2rem;
  }
  .product-img {
    margin-top: 29px;
  }
  .classes-section {
    padding: 2rem 2rem;
  }
  .popular-text {
    font-size: 40px;
    font-weight: 600;
  }
  .classes-text {
    font-size: 40px;
  }
  .over-lay a {
    left: 17%;
  }
  .success-section-container {
    background-size: cover;
  }
  .contact-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .contact-section h1 {
    font-size: 34px;
  }
  .maps-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  iframe {
    height: 100%;
  }
}

@media (min-width: 946px) {
  .schedule {
    min-width: 200%;
  }
}

@media (min-width: 992px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    flex-direction: column;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  .navbar-expand-lg .navbar-collapse {
    background: var(--clr-white);
    border-radius: 30px;
    margin-top: 1.5rem;
  }
  .nav-item {
    margin-top: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--clr-black);
    padding: 1rem;
  }
  header .Main-Text {
    font-size: 60px;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  header p {
    margin-bottom: 2rem;
  }
  .main-header-button {
    margin-bottom: 7.5rem;
  }
  .category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .category-1 {
    margin-top: 0;
  }
  .category-3 {
    margin-bottom: 0;
  }
  .cat-py {
    margin-bottom: 2rem;
  }
  .section-2-right {
    margin-top: 32px;
  }
  .section-2 {
    padding: 2rem 6rem;
  }
  .sect-2-h h3 {
    font-size: 36px;
    line-height: 1.6;
  }
  .sect-2-p {
    line-height: 1.4;
  }
  .product-section {
    padding: 5rem 6rem;
  }
  .sect-3-top h1 {
    font-size: 54px;
  }
  .sect-3-top h1 span {
    font-size: 46px;
    font-weight: 700;
  }
  .sect-3-top p img {
    width: 7%;
  }
  .sect-3-top p span {
    font-size: 19px;
  }
  .projects-section-2 {
    padding: 0 6rem;
  }
  .over-lay a {
    left: 33%;
  }
  .contact-section {
    padding-bottom: 0rem;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 8rem;
  }
  .schedule {
    padding-top: 3.5rem;
    padding-bottom: 0;
    min-width: 0%;
  }
}
